@import "../../styles/constants.scss";

.container {
  padding-top: 2rem;
  // padding-left: 2rem;
}

.notifications_box {
  color: $font-sub-1;
  font-size: 0.75rem;
  @include flex-center;
  justify-content: flex-start;
  padding-left: 2rem;
  margin-bottom: 1.5rem;

  & > p {
    font-weight: 500;
    margin-right: 0.5rem;
  }

  & > div {
    @include flex-center;
    $size: 1.2rem;
    width: $size;
    height: $size;
    font-size: 0.75rem;
    border-radius: 50%;

    color: #fff;
    background-color: $accent;
  }
}
.notifications {
  height: 15rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}
