@import "../../styles/constants.scss";

.container {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(115.71deg, #23272b 0%, #393939 100%);
}

.loader {
  width: 8rem;
  animation: color-animation 2s linear forwards infinite;
}

.icon {
}
.text {
}

@keyframes color-animation {
  0% {
    fill: white;
  }
  50% {
    fill: $accent;
  }
  100% {
    fill: white;
  }
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}
