@import "../../styles/constants.scss";

.container {
  @include flex-center;
  gap: 0.5rem;
}

// NOTIFICATION BTN
$bg: #23272a;
.not_btn {
  $size: 2rem;
  cursor: pointer;
  background-color: #fff;
  height: $size;
  width: $size;
  border: none;
  border-radius: 50%;
  position: relative;
  @include flex-center;

  & > .bell_icon {
    fill: $bg;
  }

  & > .not_count {
    position: absolute;
    background-color: $bg;
    color: #fff;
    font-weight: 500;
    font-size: 0.7rem;
    top: -0.1rem;
    right: -0.2rem;
    $size: 0.85rem;
    width: $size;
    height: $size;
    border-radius: 50%;
  }
}

// THREE DOTS BUTTON
.navbtn {
  $size: 2rem;
  cursor: pointer;
  background-color: #fff;
  height: $size;
  width: $size;
  border: none;
  border-radius: 50%;
  @include flex-center;
  flex-direction: column;

  & > div {
    width: 55%;
    height: 2px;
    background-color: $bg;
  }

  #line_2 {
    margin-block: 4px;
  }
  #line_1,
  #line_2,
  #line_3 {
    transition: all 0.2s;
  }

  #active_line_2 {
    opacity: 0;
  }
  #active_line_1 {
    transform: translateY(2px) rotate(45deg);
    transition: all 0.2s;
  }
  #active_line_3 {
    transform: translateY(-2px) rotate(-45deg);
    transition: all 0.2s;
  }
}
