@import "../../styles/constants.scss";

$bg: #23272a;
$bg-border: #303030;
$outline: #3f3f3f;
$icon: #b9b9b9;

$icon-size: 2rem;

.container {
  background-color: $bg;
  position: absolute;
  right: 0;
  box-shadow: 2px 2px 15px 15px rgba(13, 14, 15, 0.1);
  border-bottom-left-radius: 3px;
  padding-inline: 1rem;
  border: 1px solid $bg-border;
  top: $navbar-height;
  animation: navmodal-animation 0.3s;

  @media only screen and (width <= $breakpoint-mobile) {
    top: $navbar_mobile-height;
  }
}
