@import "../styles/constants.scss";

.main {
  // background-color: $background;
  // height: 100%;
  // width: 100%;
  margin-left: $navbar-width;
}

.top_bar {
  background-color: $accent;
  height: 2.5rem;
  top: 0;
  position: sticky;
}

.main_content {
  padding: 1rem;
  // height: 100vh;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
