@import "../../styles/constants.scss";

.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
  padding-bottom: 10vh;
}

$card-size: 20rem;
$card-size: 18rem;

.card {
  width: $card-size;
  height: $card-size * 1.6;
  position: relative;
}

// LEFT CARD
.left_card {
  .movie_img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
  }

  .btm_shape {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 30%,
      #ffffff 100%
    );
  }

  .textcontent {
    text-align: center;
    padding-inline: 0.5rem;
    & > h2 {
      font-weight: 400;
      margin-bottom: 0.65rem;
      color: $background-dark;
    }
    & > p {
      color: $font-sub-1;
      font-size: 0.7rem;
    }
  }
}

// RIGHT CARD
.right_card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    padding-top: 1rem;
    padding-left: 1.5rem;
    & > h2 {
      font-weight: 400;
      color: $background-dark;
      margin-bottom: 1rem;
    }

    .title {
      margin-top: 0.8rem;
      font-weight: 500;
      font-size: 0.8rem;
      color: $accent;
    }
    .text {
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    .release_year {
      font-size: 1.3rem;
    }
  }
}

.btm_box {
  width: 100%;
  height: 25%;
  background-color: $accent;
}

.rating_container {
  @include flex-center;
  justify-content: space-between;
  padding-inline: 1.5rem;

  & > img {
    width: 4rem;
  }
}
.rating_top_box {
  @include flex-center;
  justify-content: flex-start;

  & > img {
    width: 0.6rem;
  }
  & > span {
    margin-left: 0.2rem;
    color: #fff;
    font-size: 0.6rem;
    font-weight: 500;
  }
  margin-top: 1rem;
}
.rating_num {
  margin-top: -0.3rem;
  font-weight: 300;
  font-size: 3rem;
  color: #fff;
}
