@import "../../styles/constants.scss";

// navbar main container
.container {
  background-color: $background-dark;
  position: fixed;
  width: $navbar-width;
  height: 100%;
}

.logo_container {
  background-color: $accent-dark;
  @include flex-center;
  height: 2.5rem;

  & > img {
    width: 50%;
  }
}
