@import "../../styles/constants.scss";

.container {
  @include flex-center;
  gap: 0.5rem;

  @media only screen and (width > $breakpoint-mobile) {
    display: none;
  }

  & > button {
    @include flex-center;
    flex-direction: column;
    $size: 1.85rem;
    width: $size;
    height: $size;
    border: none;
    cursor: pointer;
  }

  .not_btn {
    border-radius: 50%;
    .bell_icon {
      width: 1rem;
    }
  }

  .threedot_btn {
    border-radius: 0.4rem;
    & > div {
      width: 70%;
      height: 2px;
      background-color: black;
    }

    #line_2 {
      margin-block: 4px;
    }
    #line_1,
    #line_2,
    #line_3 {
      transition: all 0.2s;
    }

    #active_line_2 {
      opacity: 0;
    }
    #active_line_1 {
      transform: translateY(2px) rotate(45deg);
      transition: all 0.2s;
    }
    #active_line_3 {
      transform: translateY(-2px) rotate(-45deg);
      transition: all 0.2s;
    }
  }
}

.modal {
  width: 15rem;
  position: fixed;
  background-color: $background-dark;
  top: $navbar_mobile-height;
  right: 0;
  box-shadow: 2px 2px 60px 1px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  animation: modal-animation 0.3s;
  padding: 1rem;

  .top_container {
    @include flex-center;
    justify-content: flex-end;
  }
  .mid_container {
    margin-top: 1rem;
  }
  .bottom_container {
    margin-top: 2rem;
  }
}

@keyframes modal-animation {
  0% {
    transform: translateX(15rem);
  }
  100% {
    transform: translateY(0);
  }
}

.notifications_box {
  color: $font-sub-1;
  font-size: 0.75rem;
  @include flex-center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;

  & > p {
    font-weight: 500;
    margin-right: 0.5rem;
  }

  & > div {
    @include flex-center;
    $size: 1.2rem;
    width: $size;
    height: $size;
    font-size: 0.75rem;
    border-radius: 50%;
    color: #fff;
    background-color: $accent;
  }
}
.not_scroll_box {
  height: 15rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
