@import "../../styles/constants.scss";

.container {
  $size: 26vh;
  $size-mobile: 30vw;

  width: $size;
  @media only screen and (max-width: $breakpoint-mobile) {
    width: $size-mobile;
  }

  .movieimg {
    max-width: 100%;
    height: $size * 1.5;
    box-shadow: 0px 1px 122px -14px rgba(0, 0, 0, 0.3);
    border-radius: 0.2rem;

    @media only screen and (max-width: $breakpoint-mobile) {
      height: $size-mobile * 1.5;
    }
  }

  .bottom_container {
    font-size: 0.85rem;
    @include flex-center;
    justify-content: space-between;

    & > div {
      .name {
        color: #c7d0d8;
        font-weight: 600;
      }
      .type {
        font-size: 0.7rem;
        color: #829eb6;
      }
    }

    & > span {
      @include flex-center;
      right: 0;
      background-color: #277b44;
      color: #fff;
      width: 1.7rem;
      height: 1.1rem;
      border-radius: 1rem;
      font-size: 0.65rem;
    }
  }
}
