.grid_container {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 4rem;

  // grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
}
