@import "../styles/constants.scss";

.main {
  margin-left: $navbar-width;

  @media only screen and (max-width: $breakpoint-mobile) {
    margin-left: 0;
  }

  .title {
    color: #fff;
    font-weight: 200;
    margin: 1rem;
  }
}

.top_bar {
  background-color: $accent;
  height: 2.5rem;
  top: 0;
  position: sticky;
  box-shadow: 0px 1px 77px -14px rgba(0, 0, 0, 1);
  & > img {
    display: none;
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    padding-inline: 1rem;
    height: 3rem;
    @include flex-center;
    justify-content: space-between;

    & > img {
      // width: 8rem;
      height: 50%;
      display: block;
    }
  }
}
