@import "../styles/constants.scss";

.main {
  margin-left: $navbar-width;
  @media only screen and (max-width: $breakpoint-mobile) {
    margin-left: 0;
  }

  .title {
    color: #fff;
    font-weight: 200;
    margin: 1rem;
  }
}
