@import "../styles/constants.scss";

.main {
  margin-left: $navbar-width;
  
  .title {
    color: #fff;
    font-weight: 200;
    margin: 1rem;
  }
}

.top_bar {
  background-color: $accent;
  height: 2.5rem;
  top: 0;
  position: sticky;
}
